PORT = 8000
CORS_ORIGIN = *
CORS_ORIGIN = http://localhost:{port}

MONGODB_URI = mongodb+srv://{username}:{password}@{clustername}

ACCESS_TOKEN_SECRET = "can generate random secret from online or node crypto module"
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = "can generate random secret from online or node crypto module"
REFRESH_TOKEN_EXPIRY = 10d
